---
---

@import "{{ site.theme }}";

.page-header, .site-footer {
    display: none !important;
}

table {
    text-align: left;
    overflow: scroll !important;
    border-collapse: collapse;
}

table tr:hover {
    background: #999999;
    color: #FFFFFF;
}

table thead {
    border-bottom: 2px solid #444444;
}