---
---

@import "{{ site.theme }}";

.page-header {
    display: none !important;
}

table {
    text-align: left;
    border-collapse: collapse;
}

table tr:hover {
    background: #666666;
    color: #FFFFFF;
}

table thead {
    border-bottom: 2px solid #444444;
}